<div id="popup-purchase-wrapper">

    <div class="popup-heading">{{ heading_title }}</div>
    <div class="popup-center">
        {% if (stock_warning) %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ stock_warning }}
            <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
        </div>
        {% endif %}
        {% if (minimum > 1) %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}
            <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button>
        </div>
        {% endif %}
        <div class="product-img">
            {% if (thumb) %}
            <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
            {% endif %}
        </div>
        <div class="product-description">
            <h4>{{ product_name }}</h4>
            {% if (weight_class_id == 1) %}{% set mass_ob='кг' %}{% elseif (weight_class_id == 2) %}{% set mass_ob='г' %}{% elseif (weight_class_id == 7) %}{% set mass_ob='л' %}{% endif %}
            <span class="mass">{{ weight }} {{ mass_ob }}</span>
        </div>
        {% if (price) %}
        <div class="product-price">
            {% if (not special) %}
            <b><span id="main-price"  class="price-new">{{ price }}</span></b>
            {% else %}
            <b><span id="special-price" class="price-new">{{ special }}</span></b>
            <s><span id="main-price" class="price-old">{{ price }}</span></s>
            {% endif %}
        </div>
        {% endif %}
        {% if (popup_purchase_data['description']) %}
        <div class="product-description">{{ description}}</div>
        {% endif %}

        {% if (not stock_warning) %}
        <form method="post" enctype="multipart/form-data" id="purchase-form">
            <input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
            {% if (popup_purchase_data['quantity']) %}
            <div class="payment-quantity">
                <div class="number">
                    <div class="frame-change-count">
                        <div class="btn-plus">
                            <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()+1); update_prices('{{ product_id }}');">
                                <span class="icon-plus"></span>
                            </button>
                        </div>
                        <div class="btn-minus">
                            <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()-1); update_prices('{{ product_id }}');">
                                <span class="icon-minus"></span>
                            </button>
                        </div>
                    </div>
                    <input type="text" name="quantity" value="{{ minimum }}" maxlength="3" class="plus-minus" onchange="update_prices( '{{ product_id }}' ); return validate(this);" onkeyup="update_prices( '{{ product_id }}' ); return validate(this);" />
                </div>
            </div>
            {% else %}
            <input type="hidden" name="quantity" value="{{ minimum }}" />
            {% endif %}
            <div class="payment-info">

                {% if (popup_purchase_data['firstname']) %}
                <div class="payment-info-block">
                    <input name="firstname" value="{{ firstname }}" placeholder="{{ enter_firstname }}" />
                </div>
                {% endif %}
                {% if (popup_purchase_data['telephone']) %}
                <div class="payment-info-block">
                    <input name="telephone" value="{{ telephone }}" placeholder="{{ enter_telephone }}" />
                </div>
                {% endif %}
                {% if (popup_purchase_data['email']) %}
                <div class="payment-info-block">
                    <input name="email" value="{{ email }}" placeholder="{{ enter_email }}" />
                </div>
                {% endif %}
                {% if (popup_purchase_data['comment']) %}
                <div class="payment-info-block">
                    <textarea name="comment" placeholder="{{ enter_comment }}">{{ comment }}</textarea>
                </div>
                {% endif %}
            </div>
            {% if (options) %}
            <div class="info-heading-2">{{ text_option }}</div>
            {% for option in options %}
            {% if (option['type'] == 'select') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control" onchange="update_prices('{{ product_id }}');">
                    <option value="">{{ text_select }}</option>
                    {% for option_value in option['product_option_value'] %}
                    <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
                        {% if (option_value['price']) %}
                        ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if (option['type'] == 'radio') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label">{{ option['name'] }}</label>
                <div id="input-option{{ option['product_option_id'] }}">
                    {% for option_value in option['product_option_value'] %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" onchange="update_prices('{{ product_id }}');"/>
                            {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if (option['type'] == 'checkbox') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label">{{ option['name'] }}</label>
                <div id="input-option{{ option['product_option_id'] }}">
                    {% for option_value in option['product_option_value'] %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" onchange="update_prices('{{ product_id }}');"/>
                            {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if (option['type'] == 'image') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label">{{ option['name'] }}</label>
                <div id="input-option{{ option['product_option_id'] }}">
                    {% for option_value in option['product_option_value'] %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" onchange="update_prices('{{ product_id }}');"/>
                            <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if (option['type'] == 'text') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
            </div>
            {% endif %}
            {% if (option['type'] == 'textarea') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
            </div>
            {% endif %}
            {% if (option['type'] == 'file') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label">{{ option['name'] }}</label>
                <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
            </div>
            {% endif %}
            {% if (option['type'] == 'date') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <div class="input-group date">
                    <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                    <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span></div>
            </div>
            {% endif %}
            {% if (option['type'] == 'datetime') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <div class="input-group datetime">
                    <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
            </div>
            {% endif %}
            {% if (option['type'] == 'time') %}
            <div class="form-group{{ option['required'] ? ' required' : '' }}">
                <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                <div class="input-group time">
                    <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if (recurrings) %}
            <div class="info-heading-2">{{ text_payment_recurring }}</div>
            <div class="form-group required">
                <select name="recurring_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for recurring in recurrings %}
                    <option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
                    {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}

        </form>
        {% endif %}
    </div>
    <div class="popup-footer">
        {% if (not stock_warning) %}
        <a id="popup-checkout-button" class="btn">{{ button_checkout }}</a>
        {% endif %}
    </div>
    <button class="popup-close" onclick="$.magnificPopup.close();"><i class="icon-close"></i></button>
    {% if (not stock_warning) %}
    <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"  ></script>
    <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"  ></script>
    <link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <script  ><!--
        $('.date').datetimepicker({
            pickTime: false,
        });

        $('.datetime').datetimepicker({
            pickDate: true,
            pickTime: true
        });

        $('.time').datetimepicker({
            pickDate: false,
        });

        $(document).on('click', 'button[id^=\'button-upload\']', function() {
            var node = this;

            $('#form-upload').remove();

            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            timer = setInterval(function() {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=tool/upload',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function() {
                            $(node).button('loading');
                        },
                        complete: function() {
                            $(node).button('reset');
                        },
                        success: function(json) {
                            $('.error').remove();

                            if (json['error']) {
                                $(node).parent().find('input').after('<div class="error">' + json['error'] + '</div>');
                            }

                            if (json['success']) {
                                alert(json['success']);

                                $(node).parent().find('input').attr('value', json['code']);
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });
        //--></script>
    <script  ><!--
        function masked(element, status) {
            if (status == true) {
                $('<div/>')
                    .attr({ 'class':'masked' })
                    .prependTo(element);
                $('<div class="masked_loading" />').insertAfter($('.masked'));
            } else {
                $('.masked').remove();
                $('.masked_loading').remove();
            }
        }

        {% if (popup_purchase_data['quantity']) %}
        function validate( input ) {
            input.value = input.value.replace( /[^\d,]/g, '' );
        }
        {% endif %}

        $('#popup-checkout-button').on('click', function() {
            masked('#popup-purchase-wrapper', true);
            $.ajax({
                type: 'post',
                url:  'index.php?route=extension/module/popup_purchase/make_order',
                dataType: 'json',
                data: $('#purchase-form').serialize(),
                success: function(json) {


                    if (json['error']) {
                        if (json['error']['field']) {
                            masked('#popup-purchase-wrapper', false);
                            $('.payment-info-block input,.payment-info-block textarea').removeClass('has-error');
                            $('.payment-info-block .error').remove();
                            $.each(json['error']['field'], function(i, val) {
                                $('[name="' + i + '"]').addClass('has-error').after('<div class="error">' + val + '</div>');
                            });
                        }

                        if (json['error']['option']) {
                            for (i in json['error']['option']) {
                                masked('#popup-purchase-wrapper', false);
                                $('.required .error').remove();
                                var element = $('#input-option' + i.replace('_', '-'));
                                element.after('<div class="error">' + json['error']['option'][i] + '</div>');
                            }
                        }

                        if (json['error']['recurring']) {
                            $('select[name=\'recurring_id\']').after('<div class="error">' + json['error']['recurring'] + '</div>');
                        }

                    } else {
                        if (json['output']) {



                            // masked('#popup-purchase-wrapper', false);
                            //  $('#popup-checkout-button').remove();
                            //     $('#popup-purchase-wrapper .popup-center').html(json['output']);
                            $.magnificPopup.close()
                            $('body .footer').after('<div class="alert"> ' + json['output'] + ' <button type="button" class="close" data-dismiss="alert"><i class="icon-close"></i></button></div>');
                            setTimeout(function () {
                                $('.alert').detach();
                            }, 5100);

                        }
                    }
                }
            });
        });

        {% if (popup_purchase_data['quantity']) %}
        function update_prices(product_id) {
            masked('#popup-purchase-wrapper', true);
            var input_val = $('#purchase-form').find('input[name=quantity]').val();
            var quantity = parseInt(input_val);

            {% if (minimum > 1) %}
            if (quantity < {{ minimum }}) {
                quantity = $('#purchase-form').find('input[name=quantity]').val({{ minimum }});
                masked('#popup-purchase-wrapper', false);
                return;
            }
            {% else %}
            if (quantity == 0) {
                quantity = $('#purchase-form').find('input[name=quantity]').val(1);
                masked('#popup-purchase-wrapper', false);
                return;
            }
            {% endif %}

            $.ajax({
                url: 'index.php?route=module/popup_purchase/update_prices&product_id=' + product_id + '&quantity=' + quantity,
                type: 'post',
                dataType: 'json',
                data: $('#purchase-form').serialize(),
                success: function(json) {
                    $('#main-price').html(json['price']);
                    $('#special-price').html(json['special']);
                    $('#main-tax').html(json['tax']);
                    masked('#popup-purchase-wrapper', false);
                }
            });
        }
        {% endif %}

        $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
            $.ajax({
                url: 'index.php?route=product/product/getRecurringDescription',
                type: 'post',
                data: $('#purchase-form input[name=\'product_id\'], #purchase-form input[name=\'quantity\'], #purchase-form select[name=\'recurring_id\']'),
                dataType: 'json',
                beforeSend: function() {
                    $('#recurring-description').html('');
                },
                success: function(json) {
                    $('.alert, .text-danger').remove();

                    if (json['success']) {
                        $('#recurring-description').html(json['success']);
                    }
                }
            });
        });
        //--></script>
    {% endif %}
    <style type="text/css">
        {% if (popup_purchase_data['color_h1']) %}
        #popup-purchase-wrapper .product-name {color:{{ popup_purchase_data['color_h1'] }}; }
        {% endif %}
        {% if (popup_purchase_data['color_price']) %}
        #popup-purchase-wrapper #main-price {color:{{ popup_purchase_data['color_price'] }}; }
        {% endif %}
        {% if (popup_purchase_data['color_special_price']) %}
        #popup-purchase-wrapper #special-price {color:{{ popup_purchase_data['color_special_price'] }}; }
        {% endif %}
        {% if (popup_purchase_data['color_description']) %}
        #popup-purchase-wrapper .product-description {color:{{ popup_purchase_data['color_description'] }}; }
        {% endif %}
        {% if (popup_purchase_data['color_checkout_button']) %}
        #popup-purchase-wrapper .popup-footer a {color:{{ popup_purchase_data['color_checkout_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['color_close_button']) %}
        #popup-purchase-wrapper .popup-footer button {color:{{ popup_purchase_data['color_close_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['background_checkout_button']) %}
        #popup-purchase-wrapper .popup-footer a {background:{{ popup_purchase_data['background_checkout_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['background_close_button']) %}
        #popup-purchase-wrapper .popup-footer button {background:{{ popup_purchase_data['background_close_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['background_checkout_button_hover']) %}
        #popup-purchase-wrapper .popup-footer a:hover {background:{{ popup_purchase_data['background_checkout_button_hover'] }}; }
        {% endif %}
        {% if (popup_purchase_data['background_close_button_hover']) %}
        #popup-purchase-wrapper .popup-footer button:hover {background:{{ popup_purchase_data['background_close_button_hover'] }}; }
        {% endif %}
        {% if (popup_purchase_data['border_checkout_button']) %}
        #popup-purchase-wrapper .popup-footer a {border-color:{{ popup_purchase_data['border_checkout_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['border_close_button']) %}
        #popup-purchase-wrapper .popup-footer button {border-color:{{ popup_purchase_data['border_close_button'] }}; }
        {% endif %}
        {% if (popup_purchase_data['border_checkout_button_hover']) %}
        #popup-purchase-wrapper .popup-footer a:hover {border-color:{{ popup_purchase_data['border_checkout_button_hover'] }}; }
        {% endif %}
        {% if (popup_purchase_data['border_close_button_hover']) %}
        #popup-purchase-wrapper .popup-footer button:hover {border-color:{{ popup_purchase_data['border_close_button_hover'] }}; }
        {% endif %}
    </style>
</div>
