{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-purchase" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-purchase" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#setting-tab" data-toggle="tab">{{ tab_setting }}</a></li>
            <li><a href="#display-tab" data-toggle="tab">{{ tab_display }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="setting-tab">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[status]" id="input-status" class="form-control">
                    {% if (popup_purchase_data['status']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-allow_page">{{ entry_allow_page }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[allow_page]" id="input-allow_page" class="form-control">
                    {% if (popup_purchase_data['allow_page']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[firstname]" id="input-firstname" class="form-control">
                    {% if (popup_purchase_data['firstname'] == 1) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% elseif (popup_purchase_data['firstname'] == 2) %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2" selected="selected">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[email]" id="input-email" class="form-control">
                    {% if (popup_purchase_data['email'] == 1) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% elseif (popup_purchase_data['email'] == 2) %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2" selected="selected">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[telephone]" id="input-telephone" class="form-control">
                    {% if (popup_purchase_data['telephone'] == 1) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% elseif (popup_purchase_data['telephone'] == 2) %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2" selected="selected">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-comment">{{ entry_comment }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[comment]" id="input-comment" class="form-control">
                    {% if (popup_purchase_data['comment'] == 1) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% elseif (popup_purchase_data['comment'] == 2) %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2" selected="selected">{{ text_enabled_required }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="2">{{ text_enabled_required }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-quantity">{{ entry_quantity }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[quantity]" id="input-quantity" class="form-control">
                    {% if (popup_purchase_data['quantity']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-stock-check"><span data-toggle="tooltip" title="{{ help_stock_checkout }}">{{ text_allow_stock_check }}</span></label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[stock_check]" id="input-stock-check" class="form-control">
                    {% if (popup_purchase_data['stock_check']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[description]" id="input-description" class="form-control">
                    {% if (popup_purchase_data['description']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-description_max">{{ entry_description_max }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[description_max]" value="{{ popup_purchase_data['description_max'] }}" id="input-description_max" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10">
                  <select name="popup_purchase_data[image]" id="input-image" class="form-control">
                    {% if (popup_purchase_data['image']) %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[image_width]" value="{{ popup_purchase_data['image_width'] }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[image_height]" value="{{ popup_purchase_data['image_height'] }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_options }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% set row = 0 %} {% for option in options %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="popup_purchase_data[allowed_options][{{ row }}]" value="{{ option['option_id'] }}" {{ popup_purchase_data['allowed_options'][row] is not empty ? 'checked' : '' }} /> {{ option['name'] }}
                        </label>
                      </div>
                      {% set row = row + 1 %}
                    {% endfor %}
                  </div>
                  <a onclick="$(this).parent().find(':checkbox').attr('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</a>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="display-tab">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_h1 }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_h1]" value="{{ popup_purchase_data['color_h1'] }}" placeholder="{{ entry_color_h1 }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_price }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_price]" value="{{ popup_purchase_data['color_price'] }}" placeholder="{{ entry_color_price }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_special_price }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_special_price]" value="{{ popup_purchase_data['color_special_price'] }}" placeholder="{{ entry_color_special_price }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_description }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_description]" value="{{ popup_purchase_data['color_description'] }}" placeholder="{{ entry_color_description }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_checkout_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_checkout_button]" value="{{ popup_purchase_data['color_checkout_button'] }}" placeholder="{{ entry_color_checkout_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_color_close_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[color_close_button]" value="{{ popup_purchase_data['color_close_button'] }}" placeholder="{{ entry_color_close_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_background_checkout_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[background_checkout_button]" value="{{ popup_purchase_data['background_checkout_button'] }}" placeholder="{{ entry_background_checkout_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_background_close_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[background_close_button]" value="{{ popup_purchase_data['background_close_button'] }}" placeholder="{{ entry_background_close_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_background_checkout_button_hover }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[background_checkout_button_hover]" value="{{ popup_purchase_data['background_checkout_button_hover'] }}" placeholder="{{ entry_background_checkout_button_hover }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_background_close_button_hover }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[background_close_button_hover]" value="{{ popup_purchase_data['background_close_button_hover'] }}" placeholder="{{ entry_background_close_button_hover }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_border_checkout_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[border_checkout_button]" value="{{ popup_purchase_data['border_checkout_button'] }}" placeholder="{{ entry_border_checkout_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_border_close_button }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[border_close_button]" value="{{ popup_purchase_data['border_close_button'] }}" placeholder="{{ entry_border_close_button }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_border_checkout_button_hover }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[border_checkout_button_hover]" value="{{ popup_purchase_data['border_checkout_button_hover'] }}" placeholder="{{ entry_border_checkout_button_hover }}" class="form-control color" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_border_close_button_hover }}</label>
                <div class="col-sm-10">
                  <input type="text" name="popup_purchase_data[border_close_button_hover]" value="{{ popup_purchase_data['border_close_button_hover'] }}" placeholder="{{ entry_border_close_button_hover }}" class="form-control color" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('input.color').minicolors();
  });
</script>
{{ footer }}